.cache/*
.conda/*
.config/*
.ipynb_checkpoints
.ipython/*
.local/share/jupyter/runtime
.nv/*
.bash_history
.wget-hsts
.lesshst
.python_history
Apps
DB/BlastDB
DB/Eggnog
DB/GENOME_Comparison
DB/GENOME_Comparison.zip
DB/MCScanX
DB/org.Alaticeps.eg.db
Figures
Images
Outputs
PastMLdata
Test
Figure.tar.gz
Table.tar.gz
.crush/
OrganizedFigures/*.pdf
